package components

templ About() {
	<div class="grid grid-cols-1 md:grid-cols-2">
		<img class="rounded-full h-96 w-96 m-auto" src="https://via.placeholder.com/300x300" alt="Placeholder Image" width="300" height="300"/>
		<div>
			<h1 class="text-3xl">Bio</h1>
			<p>Some text about the company. Super cool stuff.</p>
		</div>
	</div>
}
