package components

type HomeTileProps struct {
	Icon string
	Text string
	Link string
}

templ HomeTile(props HomeTileProps) {
	<a href={ templ.SafeURL(props.Link) } class="border-2 border-white rounded-md h-40 w-40 md:h-64 md:w-64 grid grid-cols-1 justify-items-center items-center font-mono tracking-wide">
		<i
			class={ "fa-solid text-white text-5xl md:text-7xl cursor-pointer", props.Icon }
		></i>
		<p class="text-white text-3xl md:text-5xl">
			{ props.Text }
		</p>
	</a>
}
