package components

templ Navigation() {
	<nav class="w-full bg-slate-900 text-white p-4 flex justify-between">
		<i class="fa-solid fa-hand-peace text-white text-3xl cursor-pointer"></i>
		<i class="fa-solid fa-bars text-white text-3xl cursor-pointer"></i>
	</nav>
}
