package components

type PageHeroProps struct {
	Title string
}

templ PageHero(props PageHeroProps) {
	<div class="bg-hero bg-cover bg-center relative h-[200px] md:h-[300px]">
		<div id="overlay-color" class="h-full w-full bg-slate-900 opacity-70 z-10"></div>
		<div class="flex justify-center items-center text-center z-20 absolute w-full h-full top-0 left-0">
			<h1 class="text-white text-4xl md:text-6xl font-mono tracking-widest p-2">{ props.Title }</h1>
		</div>
	</div>
}
