package components

type PageHeroProps struct {
	Title string
}

templ PageHero(props PageHeroProps) {
	<div class="bg-hero bg-cover bg-center relative h-[250px] md:h-[300px]">
		<div class="text-center z-20 absolute w-full top-24">
			<h1 class="text-white text-3xl md:text-5xl font-mono tracking-widest">{ props.Title }</h1>
		</div>
		<div id="overlay-color" class="h-full w-full bg-slate-900 opacity-70 z-10"></div>
	</div>
}
