package pages

import (
	"jimdel/pkg/web/views/components"
	"jimdel/pkg/web/views/layouts"
)

templ About() {
	@layouts.Page(layouts.PageProps{Title: "about", IsNavigationEnabled: true, IsFooterEnabled: true}) {
		@components.PageHero(components.PageHeroProps{Title: "about"})
		<div class="text-center mt-4">
			<h2 class="text-4xl font-bold">About</h2>
			<h3 class="text-3xl mt-4">I make things with code.</h3>
		</div>
	}
}
