package pages

import (
	"jimdel/pkg/server/helpers"
	"jimdel/pkg/web/views/components"
	"jimdel/pkg/web/views/layouts"
)

templ Article(props helpers.Markdown) {
	@layouts.Page(layouts.PageProps{Title: "Blog", IsNavigationEnabled: true, IsFooterEnabled: true}) {
		@components.PageHero(components.PageHeroProps{Title: props.Meta.Title})
		<div class="max-w-screen-2xl mx-auto p-4">
			<div class="markdown-body">
				@templ.Raw(props.Html)
			</div>
		</div>
	}
}
