package pages

import "jimdel/pkg/web/views/layouts"

templ Home() {
	@layouts.Page(layouts.PageProps{Title: "Home"}) {
		<div class="-mt-24 bg-white max-w-screen-2xl mx-auto p-4 shadow-lg">
			<p>Home</p>
		</div>
	}
}
