package layouts

import "jimdel/pkg/web/views/components"

type ArticleProps struct {
	Title   string
	Content string
}

templ Article(props ArticleProps) {
	@Page(PageProps{Title: props.Title, IsNavigationEnabled: true, IsFooterEnabled: true}) {
		@components.PageHero(components.PageHeroProps{Title: props.Title})
		<div class="mx-auto pb-12" style="max-width: 1200px;">
			<article class="markdown-body">
				@templ.Raw(props.Content)
			</article>
		</div>
	}
}
