package layouts

import (
	"jimdel/pkg/web/views/components"
	"jimdel/pkg/web/views/helpers"
)

type PageProps struct {
	Title               string
	IsNavigationEnabled bool
}

templ Page(props PageProps) {
	@helpers.HTMLWrapper(helpers.HTMLWrapperProps{Title: props.Title}) {
		<main class="h-full w-full">
			if props.IsNavigationEnabled {
				@components.Navigation()
			}
			{ children... }
		</main>
	}
}
